<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tifinnearme.priteshpatel.materialdrawer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--Allows using PowerManager WakeLocks to keep processor from sleeping or screen from dimming-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--Allows applications to access information about networks-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--Allows an application to receive the ACTION_BOOT_COMPLETED that is broadcast after the system finishes booting. -->
    <!-- If you don't request this permission, you will not receive the broadcast at that time.-->

    <application
        android:name=".material_test.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/moviemania"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".material_test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".material_test.Subactivity"
            android:label="Subactivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".material_test.MainActivity" />
        </activity>
        <activity
            android:name=".material_test.ActivityUsingTabLibrary"
            android:label="@string/title_activity_activity_using_tab_library" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".material_test.MainActivity" />
        </activity>
        <activity
            android:name=".material_test.VectorTestActivity"
            android:label="@string/title_activity_vector_test" >
        </activity>
        <service android:name=".services.MyService"
            android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <!--If a job service is declared in the manifest but not protected with this permission, that service will be ignored by the OS.-->
             <!--Service is available to outside components-->
    </application>

</manifest>
