<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tifinnearme.priteshpatel.materialdrawer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".material_test.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/tifin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".material_test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".material_test.Subactivity"
            android:label="Subactivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".material_test.MainActivity" />
        </activity>
        <activity
            android:name=".material_test.ActivityUsingTabLibrary"
            android:label="@string/title_activity_activity_using_tab_library" >
        </activity>
        <activity
            android:name=".material_test.VectorTestActivity"
            android:label="@string/title_activity_vector_test" >
        </activity>
    </application>

</manifest>
